@model POISchedule.Data.Entities.Subject

@{
    ViewData["Title"] = "Eliminar Materia";
}

<h2>Eliminar Materia</h2>

<h3>¿Esta seguro que quiere eliminarlo?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Key)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Key)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Credits)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Credits)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-trash"></span></button>
        <a asp-action="Index" class="btn btn-success"><span class="glyphicon glyphicon-arrow-left"></span></a>
    </form>
</div>
